@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/inter/400.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: 2px;
  --radius-md: 7px;
  --radius-lg: 10px;
  --radius-4xl: 4px;
  --radius-full: calc(var(--radius) + 40px);

  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--text-color);

  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-ring: var(--primary);

  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-md: 14px;
  --font-size-lg: 19px;
  --font-size-xl: 20px;
  --font-size-base: 15px;
}

:root {
  --radius: 0.625rem;
  --primary: #db462b;
  --primary-text-hover: #ffffff;

  --background: #fcfcfc;
  --background-invert: #000000;
  --background-foreground: #f1f1f1;

  --background-cover: #e6e4e4;

  --background-dialog: #ffffff;
  --background-overlay: #e0e0e0;

  --background-dropdown: #ffffff;
  --background-dropdown-hover: #f1f1f1;

  --background-input: #f4f4f4;

  --background-hover: #f1f1f1;
  --background-selected: rgba(0, 0, 0, 0.08);

  --text-color: #000000;
  --text-color-secondary: var(--color-neutral-500);
  --text-color-disabled: rgba(0, 0, 0, 0.4);
  --text-color-invert: #ffffff;
}

.dark {
  --radius: 0.625rem;
  --primary: #db462b;
  --primary-text-hover: #ffffff;

  --background: #212121;
  --background-invert: #ffffff;
  --background-foreground: #3e3e3e;

  --background-cover: #000000;

  --background-dialog: #121212;
  --background-overlay: #3e3e3e;

  --background-dropdown: #282828;
  --background-dropdown-hover: #3e3e3e;

  --background-input: #282828;

  --background-hover: #3e3e3e;
  --background-selected: rgba(0, 0, 0, 0.5);

  --text-color: #ffffff;
  --text-color-secondary: var(--color-neutral-400);
  --text-color-disabled: rgba(0, 0, 0, 0.5);
  --text-color-invert: #000000;
}

@layer utilities {
  .text-base {
    font-size: var(--font-size-base);
  }

  .text-md {
    font-size: var(--font-size-md);
  }

  .text-xxs {
    font-size: var(--font-size-xxs);
  }

  .text-lg {
    font-size: var(--font-size-lg);
  }

  .text-xl {
    font-size: var(--font-size-xl);
  }

  .text-sm {
    font-size: var(--font-size-sm);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--text-color-secondary);
  }

  .text-invert {
    color: var(--text-color-invert);
  }

  .text-destructive {
    color: var(--color-primary);
  }

  .text-disabled {
    color: var(--text-color-disabled);
  }

  .hover\:bg-hover:hover,
  .bg-hover {
    background-color: var(--background-hover);
  }
  .bg-gradient-light {
    @apply bg-background;
  }

  .dark .bg-gradient-dark {
    @apply bg-background;
  }

  .bg-cover {
    background-color: var(--background-cover);
  }

  .bg-invert {
    background-color: var(--background-invert);
  }

  .bg-dialog {
    background-color: var(--background-dialog);
  }

  .bg-dropdown {
    background-color: var(--background-dropdown);
  }

  .bg-dropdown-hover {
    background-color: var(--background-dropdown-hover);
  }

  .bg-input {
    background-color: var(--background-input);
  }

  .bg-loader {
    border-color: var(--text-color);
    border-top-color: transparent;
  }

  .bg-overlay {
    background-color: color-mix(in srgb, var(--background-overlay) 40%, transparent);
  }

  .bg-text {
    background-color: var(--text-color);
  }

  .bg-foreground {
    background-color: var(--background-foreground);
  }

  .bg-primary {
    background-color: var(--primary);
    color: var(--primary-text-hover);
  }

  .hover\:bg-primary:hover {
    color: var(--primary-text-hover);
  }

  .bg-selected {
    background-color: var(--background-selected);
  }
}

@layer base {
  html,
  body,
  #root {
    overflow: hidden;
    height: 100%;
  }

  html,
  body,
  #root {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }

  .draggable {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
  }

  body {
    background-color: var(--background);
    color: var(--text-color) !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    /* Prevent rubber-band effect */
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-base);
  }
}

/* Screen Helpers */
.h-screen-fix {
  height: calc(var(--vh, 1vh) * 100);
}

@media all and (max-height: 600px) {
  .h-600-img {
    width: 270px !important;
  }

  .h-600-hide {
    display: none;
  }
}

@media all and (max-height: 400px) {
  .h-600-img {
    width: 180px !important;
  }
}

@media all and (min-height: 601px) {
  .h-600-show {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

/* Progress Bar  */
[data-slot="slider-thumb"],
[data-slot="slider-thumb"]:hover {
  @apply cursor-pointer shadow-none border-0 bg-foreground;
}

.seek-slider [data-slot="slider-range"],
.seek-slider [data-slot="slider-range"]:hover {
  @apply bg-white;
}

.seek-slider [data-slot="slider-thumb"] {
  @apply bg-transparent;
}

.seek-slider [data-slot="slider-thumb"]:hover {
  @apply bg-white;
}

.seek-slider-mini [data-slot="slider-range"],
.seek-slider-mini [data-slot="slider-range"]:hover {
  @apply bg-primary;
}

.seek-slider-mini [data-slot="slider-range"] {
  height: 4px;
  border-radius: 100px;
}

.seek-slider-mini [data-slot="slider-track"] {
  height: 4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #999 #ddd;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.dark * {
  scrollbar-width: thin;
  scrollbar-color: #555 #1a1a1a;
}

[data-sonner-toaster][data-y-position="bottom"] {
  bottom: 100px !important;
}

@media (max-width: 768px) {
  [data-sonner-toaster][data-y-position="bottom"] {
    bottom: 90px !important;
  }
}
